/* GENERAL */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;

}
h1, h2,h3,h4{
    color: #444;

}
h1{
    font-family: 'Crete Round', sans-serif;
    font-size: 45px;

}
h2{
    font-size: 55px;

}
h3{
    font-size: 30px;
    
}
h4{
   font-size: 24px;

}
p{
    line-height: 20px;
    color: #777;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #444;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange{
    color: #ff7a00;
}
.clear{
    clear: both;
}
.small{
    font-size: 13px;
    font-style: italic;
}

/* HEADER */
header{
    height: 120px;
    
}

header h1{
    float: left;
    margin-top: 32px;
    
}
header nav{
    float: right;
    margin-top: 50px;
}
header nav ul li{
    float: left;
    display: inline-block;

}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    
}
header nav ul li a:hover{
    color: #ff7a00;
    
}

/* MAIN IMAGE */
#main-image{
    height: 580px;
    background : url("../img/main.jpg") center;
}
#main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;

}
.button-1{
    display: block;
    width: 120px;
    height: 50px;
    background-color: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}
.button-1:hover{
    background-color: #02b8dd;

}

/* STEPS */

#steps ul{
    margin: 80px 0;

}
#steps ul li{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
    
}
#steps h4{
    text-transform: uppercase;
    margin-bottom: 20px;
    

}
#step p{
    margin-bottom: 20px;

}
#step-1{
    background: url('../img/steps-icon-1.png') no-repeat top center;

}
#step-2{
    background: url('../img/steps-icon-2.png') no-repeat top center;
    
}
#step-3{
    background: url('../img/steps-icon-3.png') no-repeat top center;
    
}

/* POSSIBILITIES */

.article-1{
    background-image: url(../img/article-image-1.jpg);

}
.article-2{
    background-image: url(../img/article-image-2.jpg);

}
#possibilities{
    background-color: #efefef;
    padding: 60px 0;
}

#possibilities article{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}
#possibilities article:first-child{
    margin-right: 20px;

}
.overlay{
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;

}
article h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

}
#possibilities p{
    text-align: center;
    margin-bottom: 20px;

}
.button-2{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}
.button-2:hover{
    color: #fff;
    background-color: #02b8dd;
}

/* CONTACT */

#contact{
    padding: 60px 0;
    text-align: center;
}
#contact h3{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;

}
form{
    margin: 60px 0 20px 0;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}
input[type = "text"] {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;

}
.button-3{
    color : #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;

}
.button-3:hover{
    color : #fff;
    background-color: #444;
    
}

/* FOOTER */

footer{
    position: relative;
    height: 260px;
    width : 100% ;
    bottom: 0;
    background-color: #444;
    
    
}
footer h1{
    color: #fff;
    text-align: center;
    padding-top: 80px;
}
.copyright{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}

.footer-Destinations{
    position: relative;
    bottom: 0;

    
}

/* PAGE DESTINATIONS  */

#destinations{
    background-color: #efefef;
}

#destinations .wrapper .grid_4	{ 
    position: relative;
    width: 960px;
    padding: 0; 
    width: 300px; 
    padding-bottom: 160px;
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -120px;
}
.banners {
    width: 960px;
    height: 1100px;
    overflow: hidden;
    padding-top: 160px;
}
.banners .banner {
    top: 0;
}
.grid_4{
    width: 300px;
}
.banner {
    width: 300px;
    height: 364px;
    position: relative;
}
.banner .label {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -38px;
    right: 0;
    text-transform: uppercase;
}
.banner img {
    width: 100%;
}
.banner .label .title {
    font-size: 30px;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.banner .label .price span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}
.banner a {
    font-size: 14px;
    line-height: 20px;
    color: #c73430;
    text-transform: uppercase;
    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 18px 4px;
    margin-top: 25px;
    border-radius: 13px;
}
.banner a:hover {
    background-color: #c73430;
    color: #fff;
}